.terraform.lock.hcl
keypair.pub
terraform.tfstate
terraform.tfstate.backup
.terraform/modules/modules.json
.terraform/providers/registry.terraform.io/hashicorp/aws/6.40.0/windows_amd64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/aws/6.40.0/windows_amd64/terraform-provider-aws_v6.40.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/local/2.8.0/windows_amd64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/local/2.8.0/windows_amd64/terraform-provider-local_v2.8.0_x5.exe
backend/.terraform/providers/registry.terraform.io/hashicorp/aws/6.40.0/windows_amd64/LICENSE.txt
backend/.terraform/providers/registry.terraform.io/hashicorp/aws/6.40.0/windows_amd64/terraform-provider-aws_v6.40.0_x5.exe
backend/.terraform/providers/registry.terraform.io/hashicorp/local/2.8.0/windows_amd64/LICENSE.txt
backend/.terraform/providers/registry.terraform.io/hashicorp/local/2.8.0/windows_amd64/terraform-provider-local_v2.8.0_x5.exe
.gitignore
enviroment/dev/.terraform/modules/modules.json
enviroment/dev/.terraform/providers/registry.terraform.io/hashicorp/aws/6.40.0/windows_amd64/LICENSE.txt
enviroment/dev/.terraform/providers/registry.terraform.io/hashicorp/aws/6.40.0/windows_amd64/terraform-provider-aws_v6.40.0_x5.exe
enviroment/dev/.terraform/providers/registry.terraform.io/hashicorp/local/2.8.0/windows_amd64/LICENSE.txt
enviroment/dev/.terraform/providers/registry.terraform.io/hashicorp/local/2.8.0/windows_amd64/terraform-provider-local_v2.8.0_x5.exe
.terraform/modules/vpc_prod.vpc/CHANGELOG.md
.terraform/modules/vpc_prod.vpc/LICENSE
.terraform/modules/vpc_stage.vpc/wrappers/vpc-endpoints/README.md
.terraform/modules/vpc_prod.vpc/README.md
.terraform/modules/vpc_prod.vpc/docs/UPGRADE-3.0.md
.terraform/modules/vpc_prod.vpc/docs/UPGRADE-4.0.md
.terraform/modules/vpc_prod.vpc/examples/README.md
.gitignore
.terraform/modules/vpc_prod.vpc/examples/block-public-access/README.md
.terraform/modules/vpc_prod.vpc/examples/complete/README.md
.terraform/modules/vpc_prod.vpc/examples/flow-log/README.md
.terraform/modules/vpc_prod.vpc/examples/ipam/README.md
.terraform/modules/vpc_prod.vpc/examples/ipv6-dualstack/README.md
.terraform/modules/vpc_prod.vpc/examples/ipv6-only/README.md
.terraform/modules/vpc_prod.vpc/examples/issues/README.md
.terraform/modules/vpc_prod.vpc/examples/manage-default-vpc/README.md
.terraform/modules/vpc_prod.vpc/examples/network-acls/README.md
.terraform/modules/vpc_prod.vpc/examples/outpost/README.md
.terraform/modules/vpc_prod.vpc/examples/secondary-cidr-blocks/README.md
.terraform/modules/vpc_prod.vpc/examples/separate-route-tables/README.md
.terraform/modules/vpc_prod.vpc/examples/simple/README.md
.terraform/modules/vpc_prod.vpc/modules/flow-log/README.md
.terraform/modules/vpc_prod.vpc/modules/vpc-endpoints/README.md
.terraform/modules/vpc_prod.vpc/wrappers/README.md
.terraform/modules/vpc_prod.vpc/wrappers/flow-log/README.md
.terraform/modules/vpc_prod.vpc/wrappers/vpc-endpoints/README.md
.terraform/modules/vpc_stage.vpc/CHANGELOG.md
.terraform/modules/vpc_stage.vpc/LICENSE
.terraform/modules/vpc_stage.vpc/README.md
.terraform/modules/vpc_stage.vpc/docs/UPGRADE-4.0.md
.terraform/modules/vpc_stage.vpc/docs/UPGRADE-3.0.md
.terraform/modules/vpc_stage.vpc/examples/README.md
.terraform/modules/vpc_stage.vpc/examples/block-public-access/README.md
.terraform/modules/vpc_stage.vpc/examples/complete/README.md
.terraform/modules/vpc_stage.vpc/examples/flow-log/README.md
.terraform/modules/vpc_stage.vpc/examples/ipam/README.md
.terraform/modules/vpc_stage.vpc/examples/ipv6-dualstack/README.md
.terraform/modules/vpc_stage.vpc/examples/ipv6-only/README.md
.terraform/modules/vpc_stage.vpc/examples/issues/README.md
.terraform/modules/vpc_stage.vpc/examples/manage-default-vpc/README.md
.terraform/modules/vpc_stage.vpc/examples/network-acls/README.md
.terraform/modules/vpc_stage.vpc/examples/outpost/README.md
.terraform/modules/vpc_stage.vpc/examples/secondary-cidr-blocks/README.md
.terraform/modules/vpc_stage.vpc/examples/separate-route-tables/README.md
.terraform/modules/vpc_stage.vpc/examples/simple/README.md
.terraform/modules/vpc_stage.vpc/modules/flow-log/README.md
.terraform/modules/vpc_stage.vpc/modules/vpc-endpoints/README.md
.terraform/modules/vpc_stage.vpc/wrappers/README.md
.terraform/modules/vpc_stage.vpc/wrappers/flow-log/README.md
